.foterDiv {
  width: 100%;
  height: 300px;
  background-color: #06213d;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav-item{
  color: aliceblue;
}

.down {
  width: 100%;
  background-color: #000;
  color: white;
  text-align: center;
}